*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
    .header{
        background: url(../img/img15.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;   
            align-items: center; 
            border-bottom: 1px solid rgba(255, 255, 255, .5)
        }
            .logo{
                flex: 1 1 auto;
                color: #fff;
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #343434;
                }
            .nav{
                flex: 7 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 13px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #343434;
                }
            .social{
                flex: 1 1 auto;
                display: flex;
            }
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 5px;
                }
                .social a:hover{
                    color: #343434;
                }
        .texto-principal{
            /* background: #7579e7; */
            height: 580px;
            display: flex;
            flex-flow: column;
        }  
        h1{
            font-size: 25px;
            color: #fff;
            font-weight: 500;
            text-align: center;
            line-height: 1.6;
            align-self: center;
            padding-top: 80px;
        }  
            .clase{
                font-size: 21px;
                color: #fff;
                font-weight: 500;
                text-align: justify;
                line-height: 1.6;
                align-self: center;
                /* padding: 45px; */
            }
    .section{
        background: #f7f7f7;;
        display: flex;
        flex-flow: nowrap;
    }
        .articulos{
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
        h3{
            color: #fff;
            font-size: 13px;
            padding: 10px 0;
            margin-top: -80px;
        }
        h2{
            font-size: 25px;
            text-transform: uppercase;
            padding: 0px 0 10px 0;
            color: #fff;
        }
            .article{
                flex: 1 1 40%;
                font-weight: bold;
                color: #000;
                font-size: 15px;
                letter-spacing: .5px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #c8d7db;
            }
            .article img{
                width: 100%;
            }
            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px 10px;
                background: #000;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                background: #546c63;
            }
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
            }
            .navegacion a{
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 1px;
            }
        .aside{
            /* background:  #32e0c4; */
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .aside img{
            width: 100%;
        }
        h4{
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
            .publicidad{
                /* background: #a5ecd7; */
            }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
        .pie{
            /* background: #709fb0; */
            text-align: center;
            padding: 10px;
        }
        .pie a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 1px;
        }
    @media all and (max-width: 1325px){
        .section{
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        .aside{
            display: flex;
            justify-content: center;
        }
        h1, .clase{
            font-size: 17px;
        }
        .texto-principal{
            height: 450px;
        }
    
    }
    @media all and (max-width: 1125px){
        .articulos{
            flex-direction: column;
            display: flex;
            flex-wrap: nowrap;
        }
        .texto-principal{
            height: 600px;
        }
    }
    @media all and (max-width:701px){
        .off{
            display: none;
            justify-content: space-between;
        }
        .nav a{
            font-size: 30px;
        }
    @media all and (max-width:400px){
        .aside{
            flex-direction: column;
        }
    }
